<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="article"
         th:fragment="articleItem(articleId, articleTitle,articleDate, articleSummary,articleViewCount,articleCommentCount)">
      <h1 class="article-title">
        <a th:href="${'/article/' + articleId}"
           th:text="${articleTitle}"> </a>
      </h1>

      <div class="article-time">
                  <span
                          class="glyphicon glyphicon-time"
                          aria-hidden="true"
                  ></span>
        <span th:text="${articleDate}"></span>
      </div>
      <p th:text="${articleSummary}">
      </p>
      <div class="article-info">
        <div class="article-info-read" style="margin-right: 20px">
                    <span
                            class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"
                    ></span>
          <span th:text="${articleViewCount}"></span>阅读
        </div>
        <div class="" style="margin-right: 20px">
                    <span
                            class="glyphicon glyphicon-comment"
                            aria-hidden="true"
                    ></span>
          <span th:text="${articleCommentCount}"></span>评论
        </div>
        <!--                  <div class="article-info-more">-->
        <!--                    <a>...</a>-->
        <!--                  </div>-->
      </div>
    </div>
  </body>
</html>