<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <head th:fragment="common_header(title, links, scripts)">
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <title th:replace="${title}">title</title>
      <link rel="stylesheet" th:href="@{/static/css/sidebar.css}"/>
      <link
              rel="stylesheet"
              th:href="@{/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}"
      />
      <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
      <link rel="stylesheet" th:href="@{/static/css/iconfont//iconfont.css}"/>
      <script th:src="@{/static/lib/jquery/jquery-3.4.1.min.js}"></script>
      <script th:src="@{/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
      <script th:src="@{/static/js/sidebar.js}"></script>
      <script th:src="@{/static/js/search.js}"></script>
      <th:block th:replace="${scripts}"/>
      <th:block th:replace="${links}"/>

    </head>
  </body>
</html>