<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <head th:fragment="common_header(title, links, scripts)">
      <meta charset="UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
      <link th:href="@{/favicon.ico}" rel="icon" type="image/x-icon"/>
      <title th:replace="${title}">title</title>
      <link rel="stylesheet" th:href="@{/static/lib/css/normalize.css}"/>
      <link rel="stylesheet" th:href="@{/static/css/sidebar.css}"/>
      <link rel="stylesheet" th:href="@{/static/css/menu.css}"/>
      <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
      <link rel="stylesheet" th:href="@{/static/css/iconfont/iconfont.css}"/>
      <script th:src="@{/static/lib/jquery/jquery-3.4.1.min.js}"></script>
      <script th:src="@{/static/js/sidebar.js}"></script>
      <script th:src="@{/static/js/search.js}"></script>
      <script th:src="@{/static/js/yyui.js}"></script>
      <script th:src="@{/static/js/base.js}"></script>
      <th:block th:replace="${scripts}"/>
      <th:block th:replace="${links}"/>

    </head>
  </body>
</html>