<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header class="site-header" th:fragment="header">
      <div
              class="menu-wrapper"
      >
        <ul class="menu">
          <li><a th:href="@{/}"><i class="iconfont iconHomehomepagemenu"></i>首页</a></li>
          <li><a th:href="@{/archives}"><i class="iconfont iconguidang"></i>归档</a></li>
          <li><a th:href="@{/links}"><i class="iconfont iconlink"></i>友链</a></li>
          <li><a th:href="@{/sheet/about}"><i class="iconfont iconguanyu"></i>关于</a>
            <ul class="one">
              <li><a th:href="@{http://www.baidu.com}"><i class="iconfont iconlink"></i>百度</a></li>
              <li><a th:href="@{http://www.bilibili.com}"><i class="iconfont iconlink"></i>b站</a></li>
            </ul>
          </li>
        </ul>

        <div class="searchbox">
          <i class="iconfont iconsearch"></i>
        </div>
      </div>
    </header>
  </body>
</html>