<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/iconfont//iconfont.css}"/>

    <script th:src="@{/static/lib/jquery/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/sidebar.js}"></script>
    <script th:src="@{/static/js/search.js}"></script>

    <link rel="stylesheet" th:href="@{/static/css/index.css}"/>
  </head>
  <body>
    <div id="wrapper" style="left: 0">
      <!-- 侧边栏 -->
      <div th:replace="~{common/sidebar::sidebar}"></div>
      <!-- 搜索页面 -->
      <form class="js-search search-form search-form--modal" method="get" th:action="@{/search}" role="search">
        <div class="search-form__inner">
          <div>
            <p class="micro mb-">
              想要找点什么呢？
            </p>
            <i class="iconfont iconsearch">
            </i><input class="text-input" type="search" name="keyword" placeholder="Search" required="">
          </div>
        </div>
        <div class="search_close">
        </div>
      </form>
      <!-- 主体区域 -->
      <div class="main-wrapper">
        <!-- 侧边栏按钮 -->
        <div>
          <div class="openNav">
            <i class="iconfont iconadashboardbuttonterminal"></i>
          </div>
        </div>


        <!-- 内容区的布局 -->
        <div id="dark-wrapper">
          <!-- 头部导航栏 -->
          <div th:replace="~{common/header::header}"></div>

          <div th:insert="::content">正文内容</div>


          <!-- 底部 footer -->
          <div th:replace="~{common/footer :: footer}"></div>
        </div>
      </div>
    </div>
  </body>
</html>
