<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <form th:fragment="search-wrapper" class="js-search search-form search-form--modal" method="get" th:action="@{/article/search}" role="search">
      <div class="search-form__inner">
        <div>
          <p class="micro mb-">
            想要找点什么呢？
          </p>
          <i class="iconfont iconsearch">
          </i><input class="text-input" type="search" name="keyword" placeholder="Search" required="">
        </div>
      </div>
      <div class="search_close">
      </div>
    </form>
  </body>
</html>