<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div id="menu" th:fragment="sidebar">
      <div class="canvi-user-info">
        <div class="canvi-user-info__image">
          <img src="http://q.qlogo.cn/g?b=qq&nk=1786128750&s=160">
        </div>
        <div class="canvi-user-info__data">
          <span class="canvi-user-info__title">Title</span>
          <a href="#" class="canvi-user-info__meta">View site</a>
        </div>
      </div>
      <div class="f1">
        <ul>
          <li class="hasChild">
            <a th:href="@{/}">
              <p>
                <i class="iconfont iconHomehomepagemenu"></i>
                首页</p>
            </a>
          </li>
          <li class="hasChild">
            <a th:href="@{/archives}">
              <p><i class="iconfont iconguidang"></i>归档</p>
            </a>
          </li>
          <li class="hasChild">
            <a href="#">腾讯链接</a>
            <div class="f2">
              <ul>
                <li class="hasChild">
                  <a href="#">content</a>
                  <div class="f3">
                    <ul>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                      <li><a href="#">qq</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li><a href="#">baidu</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>