<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="sidebar" th:fragment="sidebar">
      <div class="headSculpture">
        <img src="http://q.qlogo.cn/g?b=qq&nk=1786128750&s=160" alt=""/>
        <p>昵称：xzF</p>
      </div>
      <form class="search-form-mov" th:action="@{/article/search}" method="get">
        <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2" name="keyword">
      </form>
      <div class="option">
        <ul>
          <li>
            <a th:href="@{/}">
              <p>
                <i class="iconfont iconHomehomepagemenu"></i>
                首页</p>
            </a>
          </li>
          <li>
            <a th:href="@{/archives}">
              <p><i class="iconfont iconguidang"></i>归档</p>
            </a>
          </li>
          <li>
            <a th:href="@{/links}">
              <p><i class="iconfont iconlink"></i>友链</p>
            </a>
          </li>
          <li>
            <a th:href="@{/about}">
              <p><i class="iconfont iconguanyu"></i>关于</p>
            </a>
          </li>
          <li class="dropdown">
            <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
              <p><i class="iconfont iconguanyu"></i>更多<span class="caret"></span></p>

            </a>
            <ul class="dropdown-menu">
              <li><a href="http://github.com">开源项目</a></li>
              <li><a href="#">后端</a></li>
              <li><a href="#">安卓</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">数据库</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">心得</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>