#write {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    width: 100%;
    overflow-x: hidden;

}


#write pre,
#write code {
    font-size: 14px;
    font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
    margin: auto 5px;
}

#write code {
    white-space: pre-wrap;
    border-radius: 2px;
    display: inline;
}

#write pre {
    font-size: 15px;
    line-height: 1.4em;
    display: block;
!important;
}

#write pre code {
    white-space: pre;
    overflow: auto;
    border-radius: 3px;
    padding: 1px 1px;
    display: block !important;
}

#write strong, #write b {
    color: #BF360C;
}

#write em, #write i {
    color: #009688;
}

#write hr {
    border: 1px solid #BF360C;
    margin: 1.5em auto;
}

#write p {
    margin: 1.5em 5px !important;
}

#write table,
#write pre,
#write dl,
#write blockquote,
#write q,
#write ul,
#write ol {
    margin: 10px 5px;
}

#write ul,
#write ol {
    padding-left: 15px;
}

#write li {
    margin: 10px;
}

#write li p {
    margin: 10px 0 !important;
}

#write ul ul,
#write ul ol,
#write ol ul,
#write ol ol {
    margin: 0;
    padding-left: 10px;
}

#write ul {
    list-style-type: circle;
}

#write dl {
    padding: 0;
}

#write dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

#write dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
}

#write blockquote,
#write q {
    border-left: 2px solid #009688;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
}

#write blockquote::before,
#write blockquote::after,
#write q::before,
#write q::after {
    content: none;
}

#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-style: normal !important;
    color: #009688 !important;
    text-align: center !important;
    margin: 1.5em 5px !important;
    padding: 0.5em 1em !important;
}

#write h1 {
    font-size: 24px !important;
    border-bottom: 1px solid #ddd !important;
}

#write h2 {
    font-size: 20px !important;
    border-bottom: 1px solid #eee !important;
}

#write h3 {
    font-size: 18px;
}

#write h4 {
    font-size: 16px;
}


#write table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
}

#write tbody {
    margin: 0;
    padding: 0;
    border: 0;
}

#write table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

#write table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

#write table tr th,
#write table tr td {
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 0;
    padding: 5px 10px;
}

#write table tr th {
    font-weight: bold;
    color: #eee;
    border: 1px solid #009688;
    background-color: #009688;
}

#write img {
    width: 100%;
}