/* 内容区 */
.content-wrapper {
    max-width: 800px;
    height: auto !important;
    padding-top: 64px;
    background-color: #fff;
    margin: 0 auto -58px;
    min-height: calc(100% - 64px);
}

.content {
    padding-bottom: 58px;
}

.content-head {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.content-head-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-origin: border-box;
    width: 100%;
    height: 400px;
}