/* 头部背景部分 */
.headertop {
    position: relative;
    overflow: hidden;
    height: 56%;
}

#centerbg {
    width: 100%;
    z-index: 0;
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

@media (max-width: 605px) {
    #centerbg {
        height: 300px;
    }
}

.article-content-title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}

/* 文章内容 */
.content-wrapper {
    max-width: 800px;
    height: auto !important;
    padding-top: 64px;
    background-color: #fff;
    margin: 0 auto -64px;
    min-height: calc(100% - 64px);
    display: flex;
}

.content {
    padding: 0 8px 64px 8px;
}

.content-aside {
    flex: 0 0 30%;
}


/* 文章标签，打赏 */
.article-footer {
    padding: 20px 10px;
    margin-top: 30px;
    height: 65px;
    position: relative;
}

.breadcrumbs {
    font-size: 14px;
    color: #d2d2d2;
    text-decoration: none;
    margin-bottom: 30px;
}

.donate {
    float: left;
    line-height: 32px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border: 1px solid #2b2b2b;
}

.donate a {
    color: #2b2b2b;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.donate_inner {
    display: none;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 60px;
    top: -40px;
    background: #fff;
    padding: 10px 10px 30px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

.donate_inner:after,
.donate_inner:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 45%;
    margin-left: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #e2e6ec;
}

.donate_inner li {
    float: left;
    height: 100px;
}

.donate_inner img {
    width: 100px;
}

.wedonate img {
    margin-right: 10px;
}

li.alidonate:after,
li.wedonate:after {
    content: '微信';
    text-align: center;
    display: block;
    bottom: 4px;
    position: relative;
    font-size: 13px;
    margin-left: -4px;
    color: #8a8a8a;
}

/* 标签 */
.article-tags {
    margin: 7px 0 0 20px;
    float: left;
    font-size: 13px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-family: din, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
}

.article-tags a {
    color: #b3b3b3;
    margin-right: 5px;
}

/* 版权提示 */
.open-message {
    margin: 50px 0;
    position: relative;
    background: #2b2b2b;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

.open-message p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}

/* 下一篇 */
.post-squares {
    overflow: hidden;
    width: 100%;
    margin: 55px 0;
    background: #000;
}

.post-squares.nextprev .previous {
    text-align: left;
}

.post-squares .half {
    width: 50%;
    float: left;
}

.post-squares.nextprev .next {
    text-align: right;
}

.post-squares.nextprev a,
.post-squares.nextprev article {
    height: 150px;
    padding: 55px 40px;
    text-align: left;
    width: 100%;
}

.post-squares a,
.post-squares article {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    height: 100%;
    padding: 55px 25px;
    text-align: center;
}

.post-squares .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-size: cover;
    -webkit-transition: opacity 0.15s ease-out;
    -moz-transition: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
}

.post-squares.nextprev .previous .label {
    top: 40px;
    left: 40px;
}

.post-squares.nextprev .label {
    position: absolute;
    z-index: 100;
    top: 0;
}

.post-squares .label {
    font-family: 'microsoft jhenghei', Arial, Sans-Serif;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

.post-squares.nextprev .previous .info {
    bottom: 40px;
    left: 40px;
}

.post-squares.nextprev .info {
    position: absolute;
    width: 70%;
}

.post-squares .info {
    position: relative;
    z-index: 100;
}

.post-squares.nextprev .next h3,
.post-squares.nextprev .previous h3 {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-squares h3 {
    font-family: 'microsoft jhenghei', Arial, Sans-Serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
    color: #fff;
}

.post-squares.nextprev .previous hr {
    float: left;
    margin: 0;
}

.post-squares hr {
    width: 15%;
    height: 0;
    border: 0;
    background: rgba(255, 255, 255, 0.6);
}

.post-squares.nextprev .next .info {
    right: 40px;
    bottom: 20px;
}

.post-squares.nextprev .next .info {
    text-align: right;
}

.post-squares.nextprev .info {
    position: absolute;
    width: 70%;
}

.post-squares .info {
    position: relative;
    z-index: 100;
}

.post-squares.nextprev a,
.post-squares.nextprev article {
    height: 150px;
    padding: 55px 40px;
    text-align: left;
    width: 100%;
}

.post-squares a,
.post-squares article {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    height: 100%;
    padding: 55px 25px;
    text-align: center;
}

.post-squares.nextprev .next .label {
    top: 40px;
    right: 40px;
}

.post-squares.nextprev .label {
    position: absolute;
    z-index: 100;
    top: 0;
}

.post-squares .label {
    font-family: 'microsoft jhenghei', Arial, Sans-Serif;
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

.post-squares a:hover > .background,
.post-squares article:hover > .background {
    opacity: 0.6;
}

.post-nepre a {
    padding: 0 !important;
}

@media (max-width: 760px) {
    .post-squares .half {
        float: none;
        width: 100%;
    }
}


/*目录*/
.toc-container {
    position: sticky;
    top: 90px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.toc-container::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

@media (max-width: 1280px) {
    .toc-container {
        display: none;
    }
}

.toc > ul {
    padding-left: 16px;
}

@media (min-width: 1280px) {
    .m-menu {
        display: none;
    }
}

.toc {

}

.toc > h1 {
    font-size: 25px;
}

.toc a {
    color: rgba(51, 51, 51, 0.6);
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
    margin-left: 13px;
}

.toc-container-mob {
    display: none;
    border-radius: 6px;
    top: 7px;
    height: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 10px;
    position: fixed;
    width: 70%;
    z-index: 122;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}

.toc-container-mob .close-button {
    text-align: right;
}

.toc-container-mob .close-button i:hover {
    background-color: #fe9600;
}

/*底部menu*/

.m-menu {
    /*opacity: 0;*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: 0;
    outline: 0;
    background-color: #fff;
    color: #404040;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
    transition: box-shadow .2s ease;
}

.m-cd-top {
    bottom: 90px;
}