* {
    box-sizing: border-box;
}

body {
    background: #fff;
    /* background-image: url('../assets/img/headerbg.jpg'); */
}

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

.site-header {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    z-index: 9999;
    top: 0;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.xz-navbar-head {
    background-color: transparent !important;
    border-color: transparent !important;
    border: none;
    margin-bottom: 0px;
}


@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #E4E4E4;
    }
}


.site-footer {
    padding: 2%;
    background: #fff;
    border-top: 1px solid #f7f7f7;
}

.site-footer-content {
    text-align: center;
    font-size: 13px;
    color: #9c9c9c;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
}

.headertop {
    position: relative;
    overflow: hidden;
}

#centerbg {
    width: 100%;
    z-index: 0;
    height: 480px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}


.content {
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13em;
}