.notice {
    padding: 20px;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
    color: #505050;
    position: relative;
    margin-top: -30px;
    /* margin-bottom: 60px; */
    background: #fbfbfb;
    border-radius: 3px;
}

/* 头部背景部分 */
.headertop {
    position: relative;
    overflow: hidden;
}

#centerbg {
    width: 100%;
    z-index: 0;
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.slant-left {
    background: #fff;
    width: 101%;
    position: absolute;
    bottom: -80px;
    right: 48%;
    height: 200px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
}

.slant-right {
    background: #fff;
    width: 101%;
    position: absolute;
    bottom: -80px;
    left: 48%;
    height: 200px;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.focusinfo {
    position: relative;
    max-width: 800px;
    padding: 0 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.focusinfo img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.header-info {
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
    width: 60%;
    margin: auto;
    font-size: 14px;
    color: #fff;
    padding: 20px 30px;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.top-social {
    height: 32px;
    margin-top: 30px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
}

.top-social li {
    float: left;
    margin-right: 10px;
}

.top-social img {
    height: 32px;
    width: 32px;
    background: #fff;
}

/* 内容区 */
.content {
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13em;
}

/* 推荐 */
.contetn-advice-title {
    color: #757575;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ececec;
}


.float-right {
    float: right;
}

.float-left {
    float: left;
}
