/* 头部背景部分 */
.headertop {
    position: relative;
    overflow: hidden;
}

#centerbg {
    width: 100%;
    z-index: 0;
    height: 550px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
}

.slant-left {
    background: #fff;
    width: 101%;
    position: absolute;
    bottom: -80px;
    right: 48%;
    height: 200px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
}

.slant-right {
    background: #fff;
    width: 101%;
    position: absolute;
    bottom: -80px;
    left: 48%;
    height: 200px;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
}

.focusinfo {
    position: relative;
    max-width: 800px;
    padding: 0 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.focusinfo img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
}

.header-info {
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
    width: 60%;
    margin: auto;
    font-size: 14px;
    color: #fff;
    padding: 20px 30px;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.3);
}

.top-social {
    height: 32px;
    margin-top: 30px;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
}

.top-social li {
    float: left;
    margin-right: 10px;
}

.top-social img {
    height: 32px;
    width: 32px;
    background: #fff;
}

#dark-wrapper {
    padding-top: 1px;
}

/* 内容区 */
.content {
    max-width: 800px;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13em;
}

/* 标签内容 */
.tag-title {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
    color: #9c9c9c;
    margin-top: 5em;
}

.tag-title h1 {
    font-size: 20px;
    font-weight: 400;
    border: 1px dashed #ddd;
    padding: 10px 15px;
    color: #828282;
    margin-bottom: 30px;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
}


/* 文章 */
.article {
    position: relative;
    box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media (min-width: 860px) {
    .article:hover {
        box-shadow: 0 5px 10px 5px rgba(110, 110, 110, .4);
    }
}

/*.article hr {*/
/*  width: 50%;*/
/*  height: 1px;*/
/*  margin: 0 auto;*/
/*  border: 0;*/
/*  background: #efefef;*/
/*  margin-top: 10px;*/
/*}*/
.article p {
    min-height: 60px;
    font-size: 15px;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
    color: #6f6f6f;
    letter-spacing: 1px;
    line-height: 30px;
}

.article-title {
    font-size: 20px;
    font-weight: 400;
    /*line-height: 50px;*/
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    margin-top: 1px;
}

.article-title a {
    text-decoration: none;
    font-weight: 600;
    color: #737373;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;

}

.article-title a:hover {
    color: #8fd0cc;
}

.article-time {
    font-size: 12px;
    color: #989898;
    letter-spacing: 1px;
    font-family: din, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
    margin-bottom: 10px;
}

.article-info {
    font-size: 12px;
    color: #989898;
    letter-spacing: 1px;
    font-family: din, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
    display: flex;
    margin-top: 30px;
}

.article-info-more a {
    font-size: 15px;
    color: #a0dad0;
    text-decoration: none;
}

.article-info-read {
}
