/* 内容区 */
.content-wrapper {
    max-width: 800px;
    height: auto !important;
    padding-top: 64px;
    background-color: #fff;
    margin: 0 auto -58px;
    min-height: calc(100% - 64px);
}

.content {
    padding: 0 8px 58px 8px;
}
.content-head {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.content-head-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-origin: border-box;
    width: 100%;
    height: 400px;
}


#article-content p {
    font-size: 15px;
    font-family: miranafont, 'Hiragino Sans GB', STXihei, 'Microsoft YaHei',
    SimSun, sans-serif;
    color: #6f6f6f;
    letter-spacing: 1px;
}

.link-title {
    font-weight: 400;
    color: #6d6d6d;
    padding-left: 0;
    border-left: none;
    margin: 50px 0 20px;
}

.link-title span.fake-title {
    padding-left: 10px;
    border-left: 3px solid orange;
}