.markdown-here-wrapper {
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
}


.markdown-here-wrapper pre,
.markdown-here-wrapper code {
    font-size: 14px;
    font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
    margin: auto 5px;
}

.markdown-here-wrapper code {
    white-space: pre-wrap;
    border-radius: 2px;
    display: inline;
}

.markdown-here-wrapper pre {
    font-size: 15px;
    line-height: 1.4em;
    display: block;
!important;
}

.markdown-here-wrapper pre code {
    white-space: pre;
    overflow: auto;
    border-radius: 3px;
    padding: 1px 1px;
    display: block !important;
}

.markdown-here-wrapper strong, .markdown-here-wrapper b {
    color: #BF360C;
}

.markdown-here-wrapper em, .markdown-here-wrapper i {
    color: #009688;
}

.markdown-here-wrapper hr {
    border: 1px solid #BF360C;
    margin: 1.5em auto;
}

.markdown-here-wrapper p {
    margin: 1.5em 5px !important;
}

.markdown-here-wrapper table,
.markdown-here-wrapper pre,
.markdown-here-wrapper dl,
.markdown-here-wrapper blockquote,
.markdown-here-wrapper q,
.markdown-here-wrapper ul,
.markdown-here-wrapper ol {
    margin: 10px 5px;
}

.markdown-here-wrapper ul,
.markdown-here-wrapper ol {
    padding-left: 15px;
}

.markdown-here-wrapper li {
    margin: 10px;
}

.markdown-here-wrapper li p {
    margin: 10px 0 !important;
}

.markdown-here-wrapper ul ul,
.markdown-here-wrapper ul ol,
.markdown-here-wrapper ol ul,
.markdown-here-wrapper ol ol {
    margin: 0;
    padding-left: 10px;
}

.markdown-here-wrapper ul {
    list-style-type: circle;
}

.markdown-here-wrapper dl {
    padding: 0;
}

.markdown-here-wrapper dl dt {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

.markdown-here-wrapper dl dd {
    margin: 0 0 10px;
    padding: 0 10px;
}

.markdown-here-wrapper blockquote,
.markdown-here-wrapper q {
    border-left: 2px solid #009688;
    padding: 0 10px;
    color: #777;
    quotes: none;
    margin-left: 1em;
}

.markdown-here-wrapper blockquote::before,
.markdown-here-wrapper blockquote::after,
.markdown-here-wrapper q::before,
.markdown-here-wrapper q::after {
    content: none;
}

.markdown-here-wrapper h1,
.markdown-here-wrapper h2,
.markdown-here-wrapper h3,
.markdown-here-wrapper h4,
.markdown-here-wrapper h5,
.markdown-here-wrapper h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-style: bold !important;
    color: #009688 !important;
    text-align: center !important;
    margin: 1.5em 5px !important;
    padding: 0.5em 1em !important;
}

.markdown-here-wrapper h1 {
    font-size: 24px !important;
    border-bottom: 1px solid #ddd !important;
}

.markdown-here-wrapper h2 {
    font-size: 20px !important;
    border-bottom: 1px solid #eee !important;
}

.markdown-here-wrapper h3 {
    font-size: 18px;
}

.markdown-here-wrapper h4 {
    font-size: 16px;
}


.markdown-here-wrapper table {
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    font: inherit;
    border: 0;
    margin: 0 auto;
}

.markdown-here-wrapper tbody {
    margin: 0;
    padding: 0;
    border: 0;
}

.markdown-here-wrapper table tr {
    border: 0;
    border-top: 1px solid #CCC;
    background-color: white;
    margin: 0;
    padding: 0;
}

.markdown-here-wrapper table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

.markdown-here-wrapper table tr th,
.markdown-here-wrapper table tr td {
    font-size: 16px;
    border: 1px solid #CCC;
    margin: 0;
    padding: 5px 10px;
}

.markdown-here-wrapper table tr th {
    font-weight: bold;
    color: #eee;
    border: 1px solid #009688;
    background-color: #009688;
}