html, body {
    height: 100%;
}


.openNav {
    border: 0;
    outline: none;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 20;
    margin-left: 16px;
}

.openNav i {
    font-size: 24px;
    color: #666;
}

.openNav-i-white {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .openNav {
        display: none;
    }
}

.headSculpture {
    width: 100%;
    margin-top: 35px;
    text-align: center;
}

.headSculpture img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
    transform: translate(0, -135px);
    transition: all 1s;
}

.headSculpture .img {
    transform: translate(0, 0);
}

.headSculpture p {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 15px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    background-color: #8fd0cc;
    border-radius: 15px;
    color: #fff;
    transform: translate(200px, 0);
    transition: all 1s;
}

.headSculpture .opacity {
    transform: translate(0, 0);
}


.main-wrapper {
    height: 100%;
    width: 100%;
}


.dark:before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}


.dropdown-toggle a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}

.open > .dropdown-menu {
    border: none;
    min-width: 100%;
}


.search-form-mov {
    position: relative;
    width: 100%;
    max-width: 250px;
    /*margin: 0 0 0 ;*/
    margin-top: 4px;
    padding: 8px 15px;
    background-color: #fafafa;
}

.search-form-mov input {
    width: 100%;
    border: 0;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    outline: none;
}