<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{common/header::common_header(~{::title}, ~{::link}, ~{::script})}">
    <title>文章</title>
    <script th:src="@{/static/js/donate.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/article.css}"/>
  </head>

  <body>

    <div id="wrapper" style="left: 0">
      <!-- 侧边栏 -->
      <div th:replace="~{common/sidebar::sidebar}"></div>
      <!-- 搜索页面 -->
      <form class="js-search search-form search-form--modal" method="get" th:action="@{/search}" role="search">
        <div class="search-form__inner">
          <div>
            <p class="micro mb-">
              想要找点什么呢？
            </p>
            <i class="iconfont iconsearch">
            </i><input class="text-input" type="search" name="keyword" placeholder="Search" required="">
          </div>
        </div>
        <div class="search_close">
        </div>
      </form>

      <!-- 主体区域 -->
      <div class="main-wrapper">
        <!-- 侧边栏按钮 -->
        <div class="openNav">
          <i class="iconfont iconadashboardbuttonterminal"></i>
        </div>
        <!-- 内容区的布局 -->
        <div id="dark-wrapper">
          <!-- 头部导航栏 -->
          <div th:replace="~{common/headbar::header}"></div>

          <!-- 背景图 -->
          <div class="headertop">
            <div
                    id="centerbg"
                    style="
                background-image: url(https://jensonhui.top/usr/themes/Akina/images/postbg/1.jpg);
              "
            >
              <div class="article-content-title">
                <h1 th:text="${article.getArticleTitle()}"></h1>
                <span class="" style="margin-right: 20px">
                  <span
                          class="glyphicon glyphicon-time"
                          aria-hidden="true"
                  ></span>
                  <span th:text="${#dates.format(article.getArticleDate(),'yyyy-MM-dd')}"></span>
                </span>
                <span class="" style="margin-right: 20px">
                  <span
                          class="glyphicon glyphicon-eye-open"
                          aria-hidden="true"
                  ></span>
                  <span th:text="${article.getArticleViewCount()}"></span>阅读
                </span>
                <span class="" style="margin-right: 20px">
                  <span
                          class="glyphicon glyphicon-comment"
                          aria-hidden="true"
                  ></span>
                  <span th:text="${article.getArticleCommentCount()}"></span>评论
                </span>
              </div>
            </div>
          </div>

          <!-- 主体内容 -->
          <div class="content">
            <div class="article">
              <!-- markdown转html-->
              <div id="article-content" th:utext="${article.getArticleContentHTML()}"></div>
              <div class="article-footer">
                <div class="donate">
                  <a id="donate-btn">赏</a>
                  <ul class="donate_inner" style="display: none">
                    <li class="wedonate">
                      <img
                              src="https://jensonhui.top/usr/themes/Akina/images/donate/wedo.jpg"
                      />
                    </li>
                    <li class="alidonate">
                      <img
                              src="https://jensonhui.top/usr/themes/Akina/images/donate/alido.jpg"
                      />
                    </li>
                  </ul>
                </div>
                <div class="article-tags">
                  <span class="glyphicon glyphicon-tag"></span>
                  <a th:href="@{/label/java}">java</a>
                </div>
              </div>
            </div>
            <!-- 版权提示 -->
            <div th:replace="~{common/copyright::copyright}"></div>
            <!-- 下一篇文章 -->
            <section class="post-squares nextprev">
              <div class="post-nepre half previous">
                <a href="#" rel="prev"
                >
                  <div
                          class="background"
                          style="
                      background-image: url(https://jensonhui.top/usr/themes/Akina/images/random/deu7.jpg);
                    "
                  ></div>
                  <span class="label">Previous Post</span>
                  <div class="info">
                    <h3>Js + Css3 制作一个导航条</h3>
                    <hr/>
                  </div
                  >
                </a>
              </div>
              <div class="post-nepre half next">
                <a href="#" rel="next"
                >
                  <div
                          class="background"
                          style="
                      background-image: url(https://jensonhui.top/usr/themes/Akina/images/random/deu3.jpg);
                    "
                  ></div>
                  <span class="label">Next Post</span>
                  <div class="info">
                    <h3>漂亮的Nav导航动效</h3>
                    <hr/>
                  </div
                  >
                </a>
              </div>
            </section>
          </div>

          <!-- 底部 footer -->
          <div th:replace="~{common/footer :: footer}"></div>
        </div>
      </div>
    </div>
  </body>
</html>
