<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <title itemprop="name">Jensonhui's blog-个人博客</title>
    <meta
      name="description"
      content="The Harder You Work , The Luckier You Will Be ."
    />
    <meta
      name="keywords"
      content="Jensonhui,前端IT博客,个人博客,Jensonhui's blog,记录生活的瞬间,分享学习的心得,优秀个人博客,Jone_hui"
    />

    <link
      rel="stylesheet"
      href="https://jensonhui.top/usr/themes/Akina/css/style.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://jensonhui.top/usr/themes/Akina/css/OwO.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/base.css">
    <script src="./lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="./lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
      @media (max-width: 1080px) {
        #centerbg {
          display: none;
        }
      }
      .wedonate img {
        margin-right: 10px;
      }
      .cd-top {
        background: url(https://jensonhui.top/usr/themes/Akina/images/gotop.png)
          no-repeat center 50%;
      }
    </style>
    <style type="text/css">
      :root #content > #right > .dose > .dosesingle,
      :root #content > #center > .dose > .dosesingle,
      :root .right > .content > .ads {
        display: none !important;
      }
    </style>
  </head>
  <body class="home blog hfeed" style="zoom: 1">
    <section id="main-container">
      <div class="openNav">
        <div class="iconflat"><div class="icon"></div></div>
      </div>
      <div id="page" class="site wrapper">
        <header class="site-header" role="banner">
          <!-- 顶部NavBar -->
          <nav class="navbar navbar-default xz-navbar-head">
            <div class="container">
              <!--  -->
              <div class="navbar-header">
                <button
                  type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
              </div>

              <!-- 菜单栏 -->
              <div
                class="collapse navbar-collapse navbar-right"
                id="bs-example-navbar-collapse-1"
              >
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="#">首页 <span class="sr-only">(current)</span></a>
                  </li>
                  <li><a href="#">关于</a></li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >更多 <span class="caret"></span
                    ></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search"
                    />
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>
            </div>
          </nav>
          <div class="cd-top-box"><a href="#" class="cd-top"></a></div>
        </header>
        <div class="blank"></div>
        <div class="headertop">
          <div
            id="centerbg"
            style="
              background-image: url(https://jensonhui.top/usr/themes/Akina/images/headerbg.jpg);
            "
          >
            <div class="slant-left"></div>
            <div class="slant-right"></div>
            <div class="focusinfo">
              <div class="header-tou">
                <a
                  href="https://jensonhui.top/"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                  ><img src="//q.qlogo.cn/g?b=qq&amp;nk=1786128750&amp;s=160"
                /></a>
              </div>
              <div class="header-info"><p>Just do it.</p></div>
              <div class="top-social">
                <li>
                  <a
                    href="https://weibo.com/"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="social-sina"
                    ><img
                      src="https://jensonhui.top/usr/themes/Akina/images/sina.png"
                  /></a>
                </li>
                <li>
                  <a
                    href="https://github.com/"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="social-github"
                    ><img
                      src="https://jensonhui.top/usr/themes/Akina/images/github.png"
                  /></a>
                </li>
                <li>
                  <a
                    href="https://www.bilibili.com/"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    class="social-bilibili"
                    ><img
                      src="https://jensonhui.top/usr/themes/Akina/images/bilibili.png"
                  /></a>
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class=""></div>
        <div id="content" class="site-content">
          <div class="notice">
            <i class="iconfont"></i> :
            <div class="notice-content">你要悄悄拔尖, 然后惊艳所有人 !</div>
          </div>
          <div class="top-feature">
            <h1 class="fes-title">聚焦</h1>
            <div class="feature-content">
              <li class="feature-1">
                <a href="https://www.jensonhui.top/archives/105.html"
                  ><div class="feature-title">
                    <span class="foverlay">浅谈对 "用户体验" 的理解</span>
                  </div>
                  <img
                    src="https://jensonhui.top/usr/themes/Akina/images/feature/feature1.jpg"
                /></a>
              </li>
              <li class="feature-2">
                <a href="https://www.jensonhui.top/archives/135.html"
                  ><div class="feature-title">
                    <span class="foverlay">Mac微信防撤回小助手</span>
                  </div>
                  <img
                    src="https://jensonhui.top/usr/themes/Akina/images/feature/feature2.jpg"
                /></a>
              </li>
              <li class="feature-3">
                <a href="https://www.jensonhui.top/archives/136.html"
                  ><div class="feature-title">
                    <span class="foverlay"
                      >为 JetBrains 系列 IDE 设置背景图片</span
                    >
                  </div>
                  <img
                    src="https://jensonhui.top/usr/themes/Akina/images/feature/feature3.jpg"
                /></a>
              </li>
            </div>
          </div>
          <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
              <h1 class="main-title">近况</h1>
              <article
                class="post post-list"
                itemscope=""
                itemtype="http://schema.org/BlogPosting"
              >
                <div class="post-entry">
                  <div class="feature">
                    <a href="https://www.jensonhui.top/archives/19.html"
                      ><div class="overlay"><i class="iconfont"></i></div>
                      <img
                        src="https://jensonhui.top/usr/themes/Akina/images/random/deu7.jpg"
                    /></a>
                  </div>
                  <h1 class="entry-title">
                    <a href="https://www.jensonhui.top/archives/19.html"
                      ><span class="stick">﹝TOP﹞</span>Git常用命令总结</a
                    >
                  </h1>
                  <div class="p-time">
                    <i class="iconfont"></i> 2017-6-19<i
                      class="iconfont hotpost"
                      style="margin-left: 5px"
                      ></i
                    >
                  </div>
                  <p>
                    Git是一个开源的分布式版本控制系统，用于敏捷高效地处理任何或小或大的项目；Git
                    是 Linus Torvalds 为了帮助管理 L...
                  </p>
                  <footer class="entry-footer">
                    <div class="post-more">
                      <a href="https://www.jensonhui.top/archives/19.html"
                        ><i class="iconfont"></i></a
                      >
                    </div>
                    <div class="info-meta">
                      <div class="comnum">
                        <span
                          ><i class="iconfont"></i
                          ><a href="https://www.jensonhui.top/archives/19.html"
                            >NOTHING</a
                          ></span
                        >
                      </div>
                      <div class="views">
                        <span><i class="iconfont"></i> 1773 热度</span>
                      </div>
                    </div>
                  </footer>
                </div>
                <hr />
              </article>
              <article
                class="post post-list"
                itemscope=""
                itemtype="http://schema.org/BlogPosting"
              >
                <div class="post-entry">
                  <div class="feature">
                    <a href="https://www.jensonhui.top/archives/20.html"
                      ><div class="overlay"><i class="iconfont"></i></div>
                      <img
                        src="https://jensonhui.top/usr/themes/Akina/images/random/deu4.jpg"
                    /></a>
                  </div>
                  <h1 class="entry-title">
                    <a href="https://www.jensonhui.top/archives/20.html"
                      ><span class="stick">﹝TOP﹞</span>Web奇技淫巧</a
                    >
                  </h1>
                  <div class="p-time">
                    <i class="iconfont"></i> 2017-7-23<i
                      class="iconfont hotpost"
                      style="margin-left: 5px"
                      ></i
                    >
                  </div>
                  <p>
                    文字超出隐藏变... white-space: nowrap; //强制不换行
                    text-overflow: ellipsis;...
                  </p>
                  <footer class="entry-footer">
                    <div class="post-more">
                      <a href="https://www.jensonhui.top/archives/20.html"
                        ><i class="iconfont"></i></a
                      >
                    </div>
                    <div class="info-meta">
                      <div class="comnum">
                        <span
                          ><i class="iconfont"></i
                          ><a href="https://www.jensonhui.top/archives/20.html"
                            >NOTHING</a
                          ></span
                        >
                      </div>
                      <div class="views">
                        <span><i class="iconfont"></i> 1516 热度</span>
                      </div>
                    </div>
                  </footer>
                </div>
                <hr />
              </article>
              <nav class="navigator">
                <i class="navnumber">1 / 20</i>
                <a
                  class="next"
                  title=""
                  href="https://www.jensonhui.top/page/2/"
                  ><i class="iconfont"></i></a
                >
              </nav>
            </main>
            <div id="pagination">
              <a class="next" title="" href="https://www.jensonhui.top/page/2/"
                >加载更多</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="colophon" class="site-footer" role="contentinfo">
      <div id="footer" class="site-info">
        Copyright © 2020 by
        <a
          href="https://jensonhui.top/"
          target="_blank"
          rel="nofollow noopener noreferrer"
          >Jensonhui's blog</a
        >
        . All rights reserved.<span class="sep"> | </span>Theme:
        <a
          href="https://zhebk.cn/Web/Akina.html"
          target="_blank"
          rel="nofollow noopener noreferrer"
          >Akina For Typecho</a
        >.
        <div class="footertext">
          <p>
            <a
              href="http://www.beian.miit.gov.cn/"
              target="_blank"
              rel="nofollow noopener noreferrer"
              >京ICP备18053796号-1</a
            >
          </p>
        </div>
      </div>
    </footer>
    <div id="mo-nav">
      <div class="m-avatar">
        <img src="//q.qlogo.cn/g?b=qq&amp;nk=1786128750&amp;s=160" />
      </div>
      <div class="m-search">
        <form class="m-search-form" method="post" action="" role="search">
          <input
            class="m-search-input"
            autocomplete="off"
            type="search"
            name="s"
            placeholder="搜索..."
          />
        </form>
      </div>
      <ul id="nav_menu" class="menu">
        <li class="current-menu-item"><a href="/">首页</a></li>
        <li><a href="https://www.jensonhui.top/bloger.html">关于</a></li>
        <li><a href="https://www.jensonhui.top/resources.html">资源</a></li>
        <li><a href="https://www.jensonhui.top/links.html">邻居</a></li>
        <li><a href="https://www.jensonhui.top/study.html">进阶</a></li>
      </ul>
    </div>
    <form
      class="js-search search-form search-form--modal"
      method="post"
      action=""
      role="search"
    >
      <div class="search-form__inner">
        <div>
          <p class="micro mb-">你想搜索什么 ? 按ESC即可退出 ...</p>
          <i class="iconfont"></i>
          <input
            class="submit"
            type="search"
            autocomplete="off"
            name="s"
            placeholder="Search..."
          />
        </div>
      </div>
    </form>
    <script type="text/javascript">
      var app = { pjax: '' }
      var theurl = 'https://jensonhui.top/usr/themes/Akina/'
      if (!!window.ActiveXObject || 'ActiveXObject' in window) {
        alert('请抛弃万恶的IE系列浏览器吧。')
      }
      var isMac = navigator.platform.toUpperCase().indexOf('MAC') >= 0
      if (!isMac) {
        document.write(
          '<script src="' +
            theurl +
            'js/SmoothScroll.js?20170306"></' +
            'script>'
        )
      }
      var xl = '0'
    </script>
    <script src="https://jensonhui.top/usr/themes/Akina/js/SmoothScroll.js?20170306"></script>
    <script
      type="text/javascript"
      src="https://jensonhui.top/usr/themes/Akina/js/jquery.min.js?20170306"
    ></script>
    <script
      type="text/javascript"
      src="https://jensonhui.top/usr/themes/Akina/js/jquery.preloader.js?20170306"
    ></script>
    <script
      type="text/javascript"
      src="https://jensonhui.top/usr/themes/Akina/js/jquery.pjax.js?20170306"
    ></script>
    <script
      type="text/javascript"
      src="https://jensonhui.top/usr/themes/Akina/js/baguetteBox.min.js?20170306"
    ></script>
    <script
      type="text/javascript"
      src="https://jensonhui.top/usr/themes/Akina/js/global.min.js?20170306"
    ></script>
    <div id="baguetteBox-overlay">
      <div id="baguetteBox-slider"></div>
      <button id="previous-button" class="baguetteBox-button">
        <svg width="44" height="60">
          <polyline
            points="30 10 10 30 30 50"
            stroke="rgba(0,0,0,.3)"
            stroke-width="4"
            stroke-linecap="butt"
            fill="none"
            stroke-linejoin="round"
          ></polyline>
        </svg></button
      ><button id="next-button" class="baguetteBox-button">
        <svg width="44" height="60">
          <polyline
            points="14 10 34 30 14 50"
            stroke="rgba(0,0,0,.3)"
            stroke-width="4"
            stroke-linecap="butt"
            fill="none"
            stroke-linejoin="round"
          ></polyline>
        </svg></button
      ><button id="close-button" class="baguetteBox-button">
        <svg width="30" height="30">
          <g stroke="rgb(160, 160, 160)" stroke-width="4">
            <line x1="5" y1="5" x2="25" y2="25"></line>
            <line x1="5" y1="25" x2="25" y2="5"></line>
          </g>
        </svg>
      </button>
    </div>
    <script
      type="text/javascript"
      src="https://jensonhui.top/usr/themes/Akina/js/prism.js?20170306"
    ></script>
  </body>
</html>
