<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>侧边栏抽屉</title>
    <link rel="stylesheet" th:href="@{/static/css/sidebar.css}"/>
    <link
            rel="stylesheet"
            th:href="@{/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" th:href="@{/static/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/iconfont//iconfont.css}"/>
    <script th:src="@{/static/lib/jquery/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/sidebar.js}"></script>
    <script th:src="@{/static/js/search.js}"></script>

    <link rel="stylesheet" th:href="@{/static/css/label.css}"/>
  </head>
  <body>

    <div id="wrapper" style="left: 0">
      <!-- 侧边栏 -->
      <div th:replace="~{common/sidebar::sidebar}"></div>
      <!-- 搜索页面 -->
      <form class="js-search search-form search-form--modal" method="get" th:action="@{/search}" role="search">
        <div class="search-form__inner">
          <div>
            <p class="micro mb-">
              想要找点什么呢？
            </p>
            <i class="iconfont iconsearch">
            </i><input class="text-input" type="search" name="keyword" placeholder="Search" required="">
          </div>
        </div>
        <div class="search_close">
        </div>
      </form>
      <!-- 主体区域 -->
      <div class="main-wrapper">
        <!-- 侧边栏按钮 -->
        <div>
          <div class="openNav">
            <i class="iconfont iconadashboardbuttonterminal"></i>
          </div>
        </div>


        <!-- 内容区的布局 -->
        <div id="dark-wrapper">
          <!-- 头部导航栏 -->
          <div th:replace="~{common/header::header}"></div>
          <!-- 背景图 -->
          <div class="headertop">
            <div
                    id="centerbg"
                    style="
                background-image: url(https://jensonhui.top/usr/themes/Akina/images/headerbg.jpg);
              "
            >
              <div class="slant-left"></div>
              <div class="slant-right"></div>
              <div class="focusinfo">
                <div class="header-tou">
                  <a
                          th:href="@{/}"
                          target="_blank"
                          rel="nofollow noopener noreferrer"
                  ><img src="//q.qlogo.cn/g?b=qq&amp;nk=1786128750&amp;s=160"
                  /></a>
                </div>
                <div class="header-info"><p>Just do it.</p></div>
                <div class="top-social">
                  <li>
                    <a
                            href="https://weibo.com/"
                            target="_blank"
                            rel="nofollow noopener noreferrer"
                            class="social-sina"
                    ><img
                            src="https://jensonhui.top/usr/themes/Akina/images/sina.png"
                    /></a>
                  </li>
                  <li>
                    <a
                            href="https://github.com/"
                            target="_blank"
                            rel="nofollow noopener noreferrer"
                            class="social-github"
                    ><img
                            src="https://jensonhui.top/usr/themes/Akina/images/github.png"
                    /></a>
                  </li>
                  <li>
                    <a
                            href="https://www.bilibili.com/"
                            target="_blank"
                            rel="nofollow noopener noreferrer"
                            class="social-bilibili"
                    ><img
                            src="https://jensonhui.top/usr/themes/Akina/images/bilibili.png"
                    /></a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!-- 主题内容 -->
          <div class="content">
            <div class="tag-title">
              <h1>搜索结果: 标签“Web”下的文章</h1>
            </div>
            <!-- 博文内容 -->
            <div class="blog">
              <div class="article">
                <h1 class="article-title">
                  <a href="./article.html"> 常用技巧 </a>
                </h1>

                <div class="article-time">
                  <span
                          class="glyphicon glyphicon-time"
                          aria-hidden="true"
                  ></span>
                  2020-22-11
                </div>
                <p>
                  Git是一个开源的分布式版本控制系统，用于敏捷高效地处理任何或小或大的项目；Git
                  是 Linus Torvalds 为了帮助管理 L
                </p>
                <div class="article-info">
                  <div class="article-info-read" style="margin-right: 20px">
                    <span
                            class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"
                    ></span>
                    10阅读
                  </div>
                  <div class="">
                    <span
                            class="glyphicon glyphicon-comment"
                            aria-hidden="true"
                    ></span>
                    10评论
                  </div>
                </div>
                <hr/>
              </div>
              <div class="article">
                <h1 class="article-title">
                  <a href="http://zmblog.wang"> 常用技巧 </a>
                </h1>

                <div class="article-time">
                  <span
                          class="glyphicon glyphicon-time"
                          aria-hidden="true"
                  ></span>
                  2020-22-11
                </div>
                <p>
                  Git是一个开源的分布式版本控制系统，用于敏捷高效地处理任何或小或大的项目；Git
                  是 Linus Torvalds 为了帮助管理 L
                </p>
                <div class="article-info">
                  <div class="article-info-read" style="margin-right: 20px">
                    <span
                            class="glyphicon glyphicon-eye-open"
                            aria-hidden="true"
                    ></span>
                    10阅读
                  </div>
                  <div class="" style="margin-right: 20px">
                    <span
                            class="glyphicon glyphicon-comment"
                            aria-hidden="true"
                    ></span>
                    10评论
                  </div>
                  <!-- <div class="article-info-more">
      <a>...</a>
    </div> -->
                </div>
                <hr/>
              </div>
            </div>
          </div>
          <!-- 底部 footer -->
          <div th:replace="~{common/footer :: footer}"></div>
        </div>
      </div>
    </div>
  </body>
</html>
