<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zheng.blog.dao.ArticleDao">


    <select id="listArticlePages" resultType="pers.zheng.blog.model.vo.ArticleItemVO">
        SELECT article_id,
               article_title,
               article_view_count,
               article_like_count,
               article_comment_count,
               article_summary,
               create_time
        FROM ty_article
        WHERE article_status like #{state}
        ORDER BY create_time
            DESC
    </select>


    <select id="listArticleDtoItems" resultType="pers.zheng.blog.model.dto.ArticleItemDTO">
        SELECT
        article_id,
        article_title,
        article_view_count,
        article_like_count,
        article_comment_count,
        article_summary,
        create_time,
        article_status
        FROM
        ty_article
        WHERE 1=1
        <if test="title != null and title != ''">
            and article_title like concat('%', #{title}, '%')
        </if>
        ORDER BY
        create_time
        DESC
    </select>

    <select id="getArticleById" resultType="pers.zheng.blog.model.vo.ArticleContentVO">
        SELECT article_id,
               article_content,
               create_time,
               article_like_count,
               article_title,
               article_comment_count,
               article_view_count
        FROM ty_article
        WHERE article_id = #{articleId}
          AND article_status = 'publish'

    </select>

    <select id="listArticleItemByLabel" resultType="pers.zheng.blog.model.vo.ArticleItemVO">
        SELECT a.article_title,
               a.article_summary,
               a.create_time,
               a.article_like_count,
               a.article_view_count,
               a.article_comment_count
        FROM ty_article a
                 LEFT JOIN ty_article_label b ON a.article_id = b.article_id
                 LEFT JOIN ty_label c ON b.label_id = c.label_id
        WHERE c.label_id = #{labelId}
          AND a.article_status like #{state}
    </select>

    <select id="listArticleItemsByName" resultType="pers.zheng.blog.model.vo.ArticleItemVO">
        SELECT article_id,
               article_title,
               article_view_count,
               article_like_count,
               article_comment_count,
               article_summary,
               create_time
        FROM ty_article
        WHERE article_title like concat('%', #{keyword}, '%')
          AND article_status like #{state}
        ORDER BY create_time
            DESC
    </select>


    <!-- 根据分类查询-->
    <select id="getArticleItemBySort" resultType="pers.zheng.blog.model.vo.ArticleItemVO">
        SELECT a.article_id,
               a.article_title,
               a.article_view_count,
               a.article_comment_count,
               a.article_summary,
               a.create_time
        FROM ty_article a
                 JOIN ty_article_sort b ON a.article_id = b.article_id
        WHERE b.sort_id = #{sortId}
          AND a.article_status LIKE #{state}
        ORDER BY a.create_time DESC
    </select>

    <select id="getPrevArticleItemByArticleId" resultType="pers.zheng.blog.model.vo.ArticleItemVO">
        SELECT *
        FROM ty_article
        WHERE article_id = (
            SELECT max(article_id)
            FROM ty_article
            WHERE article_id &lt; #{articleId}
              AND article_status like 'publish')
    </select>

    <select id="getNextArticleItemByArticleId" resultType="pers.zheng.blog.model.vo.ArticleItemVO">
        SELECT *
        FROM ty_article
        WHERE article_id = (
            SELECT min(article_id)
            FROM ty_article
            WHERE article_id > #{articleId}
              AND article_status like 'publish')
    </select>
</mapper>