<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zheng.blog.dao.ArticleLabelDao">


    <select id="listLabelByArticle" resultType="pers.zheng.blog.model.entity.Label">
        SELECT ty_label.*
        FROM ty_label
                 JOIN
                 (SELECT * FROM ty_article_label WHERE article_id = #{articleId}) AS b
                 ON
                     ty_label.label_id = b.label_id
    </select>

    <select id="countPublishArticleByLabel" resultType="int">
        SELECT count(*)
        FROM ty_article_label AS a
                 JOIN ty_article AS b ON a.article_id = b.article_id
        WHERE a.label_id = #{labelId}
          AND b.article_status LIKE 'publish'
    </select>
</mapper>