<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.zheng.blog.dao.LabelDao">

    <select id="listLabelVOs" resultType="pers.zheng.blog.model.vo.LabelVO">
        SELECT
            ty_label.*,
            b.article_count
        FROM
            ty_label
        RIGHT JOIN
            (SELECT label_id, count(*) as article_count from ty_article_label GROUP BY label_id) as b
        ON
            ty_label.label_id = b.label_id
    </select>
</mapper>